{% extends "base.html" %}
<!--  -->
{% block title %} Giriş Yap {% endblock title %}
<!--  -->
{% block body %}

<div class="row">
    <div class="col-lg-6 pull-center">

        {% if form.non_field_errors %}
        <!--  -->
        {% for error in form.non_field_errors %}

        <div class="alert alert-dismissible alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a> {{error|safe}}
        </div>



        {% endfor %} {% endif %}

        <form style="margin-top: 50px;" method="post" action="{% url 'user_login' %}">

            {% csrf_token %} {% for field in form %}

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">

                        <label class="control-label" for="{{field.id_for_label}}">
                            {{field.label}}
                        </label>
                        <!--  -->
                        {{field}}
                        <!--  -->
                        {% if field.errors %}
                        <!--  -->
                        {% for error in field.errors %}

                        <span class="text-danger"><b> {{error}} </b></span>
                        <!--  -->
                        {% endfor %}
                        <!--  -->
                        {% else %}
                        <!--  -->
                        {% if field.help_text %}
                        <!--  -->
                        <span class="text-success"><b>{{field.help_text}}</b></span>
                        <!--  -->
                        {% endif %} {% endif %}

                    </div>
                </div>
            </div>

            {% endfor %}

            <input type="submit" class="btn btn-sm btn-success" value="Giriş Yap">

            <span> <b> veya Hesabınız yoksa kayıt olmak için <a href="{% url 'register'%}"> tıklayınız. </a> </b> </span>

        </form>
    </div>
</div>
{% endblock body %}